<template>
  <v-layout row wrap class="mt-5 pt-5" id="footer">
      <v-flex md2 offset-md5>
        <v-layout row wrap>
          <a href="/">
            <img src="~/assets/images/logo.png" alt="avatar" height="100" width="150">
          </a>
        </v-layout>
        <v-layout row wrap>
            <a href="/blog" class="pr-3 footer_link" style="color:#0294ca;">Blog</a>
            <a href="/About" class="pr-3 footer_link" style="color:#0294ca;">About</a>
            <a href="/booking" class="footer_link" style="color:#0294ca;">Booking</a>
        </v-layout>
        <v-layout row wrap class="mt-3 mb-5">  
            <i class="fab fa-facebook-square social_icons pr-3"></i>
            <i class="fab fa-youtube social_icons pr-3"></i>
            <i class="fab fa-twitter social_icons pr-3"></i>
            <i class="fab fa-whatsapp social_icons pr-3"></i>
            <i class="fab fa-instagram social_icons"></i>
        </v-layout>
      </v-flex>
  </v-layout>
</template>
<script>
export default {
}
</script>

