<template>
     <v-toolbar class="mb-1" style="z-index:1000;" fixed>
        <a href="/" class="mt-5 pt-3">
          <img src="~/assets/images/logo.png" alt="avatar" height="150" width="200">
        </a>      
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-menu open-on-hover top offset-y>
        <v-btn flat slot="activator" style="color:#0294ca;">Portfolio</v-btn>
        <v-list class="mt-5">
          <v-list-tile v-for="item in portfolioitems" :key="item.title" :to="item.to" >
            <v-list-tile-title style="color:#0294ca;" >{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
        <v-btn flat to="/blog"  style="color:#0294ca;">Blog</v-btn>
        <v-btn flat to="/booking" style="color:#0294ca;">Booking</v-btn>
        <v-btn flat to="/about" style="color:#0294ca;">About</v-btn>
      </v-toolbar-items>
  </v-toolbar>
</template>
<script>
export default {
  props: ['portfolioitems']
}
</script>

