<template>
  <footer class="footer">
    <!-- <div class="container-fluid"> -->
      <nav class="pull-left">
        <ul>
          <li>
            <router-link :to="{path: footerPath}">Dashboard</router-link>
          </li>
        </ul>
      </nav>
    <!-- </div> -->
  </footer>
</template>
<script>
  export default {
    computed: {
      isUserAdmin () {
        return this.$store.getters.isUserAdmin
      },
      footerPath () {
        if (this.isUserAdmin) {
          return '/admin/overview'
        } else {
          return '/user/welcome'
        }
      }
    }
  }
</script>
<style>

</style>
