<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" :class="{toggled: $sidebar.showSidebar}" @click="toggleSidebar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand">{{routeName}}</a>
      </div>
      <div class="navbar-right-menu">
        <ul class="nav navbar-nav navbar-right">
          <li>
             <a class="dropdown-toggle" data-toggle="dropdown" v-if="userIsAuthenticated" @click= "onLogout" >
              <font-awesome-icon icon="sign-out-alt" size="lg" style="margin-right: .1em;"/> <p style="display: inline; vertical-align: bottom">Logout</p>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
  export default {
    computed: {
      routeName () {
        const {name} = this.$route
        return this.capitalizeFirstLetter(name)
      },
      menuItems () {
        let menuItems = [
        ]
        if (!this.userIsAuthenticated) {
          menuItems = [
            {icon: 'lock_open', title: 'Log in', link: '/login'}
          ]
        }
        return menuItems
      },
      userIsAuthenticated () {
        return this.$store.getters['adminLogin/user']
      }
    },
    data () {
      return {
        activeNotifications: false
      }
    },
    methods: {
      capitalizeFirstLetter (string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      toggleNotificationDropDown () {
        this.activeNotifications = !this.activeNotifications
      },
      closeDropDown () {
        this.activeNotifications = false
      },
      toggleSidebar () {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      hideSidebar () {
        this.$sidebar.displaySidebar(false)
      },
      linkClicked (link) {
        this.$router.push(link)
      },
      onLogout () {
        this.$store.dispatch('adminLogin/logout')
        // this.$router.push('/login')
      }
    }
  }
</script>
<style>

</style>
