<template>
  <v-layout row wrap class="mt-5">
    <v-flex md10 offset-md2>
      <v-layout row wrap class="mt-5 mb-5">
      <v-flex offset-md4 md4>
        <h1 style="color:#0294ca; font-weight:normal; font-size:40px;">Our Clients</h1>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex md4 v-for="item in clients" :key="item.id" class="mb-5">
        <img :src="item.img" alt="" class="client_logo">
      </v-flex>
    </v-layout>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  props: ['clients']
}
</script>
<style>
.client_logo{
  height: 100px;
  width: 180px;
  opacity: 0.8;
}
.client_logo:hover{
  opacity:1;
  height: 105px;
  width: 200px;
}
</style>
