<template>
<div>
  <v-layout row wrap class="mt-5 mb-3" v-for="reviewer in reviews" :key="reviewer">
    <v-flex md12>
      <v-layout row wrap class="pt-2 pl-2">
        <v-flex md3>
          <img :src="reviewer.dp" alt="" class="comment_dp">
          <v-chip outline="primary" style="color:#0294ca; margin-left:20px;">{{reviewer.name}}</v-chip>
        </v-flex>
        <v-flex md9 class="pl-3">
           <v-layout row wrap class="mt-4">
              <star-rating class="mr-5"
                :read-only="true"
                v-model="reviewer.rating"
                :increment="inc"
                :show-rating= 'false'
                :max-rating="maxrating" 
                inactive-color="#ffffff" 
                active-color="#0294ca" 
                :star-size="starsize">
              </star-rating>
              <v-chip outline="primary" style="color:#0294ca; margin-left:150px;">{{reviewer.date}}</v-chip>
            </v-layout>
          <v-layout row wrap class="mt-3 pl-3">
                <p style="color:#0294ca;"><i> {{reviewer.message}}
                  </i>
                </p>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
  
</div>
</template>
<script>
  export default{
    props: ['reviews'],
    data () {
      return {
        inc: 0.5,
        maxrating: 5,
        starsize: 29,
        rating: 4
      }
    }
  }
</script>
<style>
.comment_dp{
  width:180px;
  height: 180px;
  border-radius: 150px;
}
</style>
