<template>
  <v-layout row wrap>
    <v-flex md12>
      <h2 style="color:#0294ca;">Contact me</h2>
        <v-layout row wrap class="mt-3">
          <v-chip style="color:#0294ca;" outline="primary">Email</v-chip>
          <span class="mt-2 pl-2">malikfaizanzafar@gmail.com</span> 
        </v-layout> <br>
        <v-layout row wrap class="mt-3">
          <v-chip style="color:#0294ca;" outline="primary">Phone Number</v-chip>
          <span class="mt-2 pl-2"  >+923368361899</span> 
        </v-layout>
    </v-flex>
  </v-layout>
</template>
