<template>
  <v-layout column justify-center align-center row wrap >
    <!-- Slider start -->
    <v-carousel hide-delimiters id="main_carousel">
      <v-carousel-item v-for="(item,i) in items" :src="item.src" :key="i"></v-carousel-item>
    </v-carousel>
    <!-- slider end -->
  </v-layout>
</template>
<script>
export default {
  props: ['items']
}
</script>
<style>
#main_carousel{
  height: 650px;
}
</style>
