<template>
  <v-layout row wrap class="mt-5 pt-4">
    <v-layout row wrap class="ml-5 mt-5 pt-3 pl-3">
        <lightbox
          id="mylightbox"
          :images="images"
          :image_class=" 'img-responsive' "
          :album_class=" 'my-album-class' "
          :options="options">
      </lightbox>
    </v-layout>
  </v-layout>
</template>
<script>
import Lightbox from 'vue-simple-lightbox'
export default{
  components: {
    Lightbox
  },
  props: ['images', 'options']
}
</script>
<style>
.recent_image:hover{
  opacity:0.8;
}
#recentwork_header{
  color: #0294ca;
  font-weight: normal;
  font-size: 40px;
}
.my-gallery a img{
  width: 300px;
  height: 250px;
  border: none;
}
</style>
