<template>
   <v-layout row wrap class="mt-5">
    <v-layout row wrap class="mb-3 mt-5">
      <v-flex offset-md5>
        <h1 id="ourclients_header">What our Clients say:</h1>
      </v-flex>
    </v-layout>
    <v-flex md10 offset-md1>
        <v-carousel hide-controls id="client_carousel">
          <v-carousel-item v-for="(item,i) in testimonials" :key="i">
            <v-flex md4>
              <img :src="item.avatar" alt="" class="client_image mb-5">
            </v-flex>
            <v-flex md8>
              <v-layout row wrap>
                <p style="color:#0294ca; font-weight:normal;font-style: italic">{{item.message}}</p>
              </v-layout>
              <v-layout row wrap class="mt-5">
                <v-flex offset-md7>
                  <h3 style="color:#0294ca; font-weight:normal;">{{item.designation}}</h3>
                </v-flex>  
              </v-layout>
              <v-layout row wrap>
                <v-flex offset-md7>
                  <h4 style="color:#0294ca; font-weight:normal;">{{item.name}}</h4>
                </v-flex> 
              </v-layout>
            </v-flex>
          </v-carousel-item>
        </v-carousel>
    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    props: ['testimonials']
  }
</script>
<style>
.client_image{
  height: 250px;
  width: 275px;
  border-radius: 200px;
}
#client_carousel{
  height:350px;
}
#ourclients_header{
  color:#0294ca;
  font-weight: normal;
}
</style>
