<template>
  <v-layout row wrap class="pt-5 pl-4 pr-4">
    <v-flex md4 xs12 sm12 wrap class="mt-2">
      <img :src="this.profileImage" alt="" height="250" width="250" style="border-radius: 150px;">
    </v-flex>
    <v-flex md7 xs12 sm12 class="pt-3 mt-2">
      <h1 style="font-size:35px; color:#0294ca;">Hello there!</h1>
      <h3 style="color:#0294ca; font-weight:normal;font-style: italic" class="mt-3">{{this.message}}
      </h3>
    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    props: ['profileImage', 'message']
  }
</script>
