<template>
  <v-layout row wrap class="mt-5" >
        <v-flex md3 v-for="item in data" :key="item.id" class="mt-5 ml-5 mr-5">
          <v-card hover ripple :to="'/search/' + item.id + '/details'">
            <v-layout row wrap>
                <v-flex md12>
                  <img :src="item.profileImage" alt="" height="300" width="100%">
                </v-flex>
            </v-layout>
            <v-layout row wrap class="mt-3 pr-2 pl-2" >
                <v-flex offset-md4 md3>
                    <star-rating 
                        :read-only="true"
                        v-model="item.rating"
                        :increment="inc"
                        :show-rating= 'false'
                        :max-rating="maxrating" 
                        inactive-color="#000" 
                        active-color="#E84335" 
                        :star-size="starsize">
                    </star-rating>
                </v-flex>
            </v-layout> <br>
            <v-layout row wrap class="mt-2 pr-2 pl-2 mr-1 ml-1">
               <h3 class="mr-3 mt-2"> Name : </h3> <v-chip outline="primary" style="color:#E84335;">{{item.name}}</v-chip> 
            </v-layout> <br>
            <v-layout row wrap class="pr-2 pl-2 mr-1 ml-1">
                   <h3 class="mr-3 mt-2">Location : </h3>  <v-chip outline="primary" style="color:#E84335;"> {{item.location}}</v-chip>
            </v-layout>
            <v-layout row wrap class="mt-3 pr-2 pl-2 mr-1 ml-1" align-content-center>
                 <h3 class="mr-3 mt-2"> Services : </h3>  <v-chip outline="primary" style="color:#E84335;"  v-for="service in item.services" :key="service">{{service}}</v-chip>
            </v-layout> <br>
            <v-layout row wrap class="mt-1 pr-2 pl-2 mr-1 ml-1"> 
                  <h3 class="mr-3 mt-2">Charges : </h3>  <v-chip outline="primary" style="color:#E84335;">Rs.{{item.charges}}</v-chip>
            </v-layout>
            <v-layout row wrap class="mt-2 pr-2 pl-2 mr-1 ml-1">
              <v-flex offset-md7>
                  <v-btn style="background-color:#E84335; color:white;">Book Now</v-btn>
              </v-flex>      
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
</template>
<script>
export default {
  props: ['data'],
  data () {
    return {
      inc: 0.5,
      maxrating: 5,
      starsize: 20
    }
  }
}
</script>
