<template>
<v-layout row wrap>
  <v-flex md10 offset-md1>
     <gmap-map
      :center="center"
      :zoom="11"
      style="width: 100%; height: 500px; margin-top: 20px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.coordinates"
        :clickable="true"
        :draggable="true"
        @click="center=m.coordinates"
      ></gmap-marker>
    </gmap-map>
  </v-flex>
</v-layout>
</template>
<script>
  export default {
    props: ['markers'],
    data () {
      return {
        center: {lat: 33.62567, lng: 73.06588}
        // markers: [{
        //   position: {lat: 33.66932 , lng: 72.99994}
        // },
        // {
        //   position: {lat: 33.57194, lng: 73.08306}
        // },
        // {
        //   position: {lat: 33.57194, lng: 73.08306}
        // },
        // {
        //   position: {lat: 33.71729, lng: 73.07078}
        // },
        // {
        //   position: {lat: 33.64254, lng: 72.99047}
        // },
        // {
        //   position: {lat: 33.66807, lng: 73.07299}
        // },
        // {
        //   position: {lat: 33.55052, lng: 73.12611}
        // },
        // {
        //   position: {lat: 33.5396, lng: 73.09909}
        // },
        // {
        //   position: {lat: 33.6428, lng: 73.07078}
        // },
        // {
        //   position: {lat: 33.6428, lng: 73.07078}
        // },
        // {
        //   position: {lat: 33.66935, lng: 73.04348}
        // },
        // {
        //   position: {lat: 33.59611, lng: 73.05381}
        // },
        // {
        //   position: {lat: 33.6468, lng: 73.03758}
        // },
        // {
        //   position: {lat: 33.61788, lng: 73.01544}
        // }]
      }
    }
  }
</script> 