<template>
  <div>
    <div class="header">
      <slot name="header">
        <h4 class="title">{{title}}</h4>
        <p class="category">{{subTitle}}</p>
      </slot>
    </div>
    <div class="">
      <table class="table" >
        <thead>
          <th v-for="column in columns" :key="column">{{column}}</th>
        </thead>
        <tbody>
          <tr v-for="item in data" :key="item.serialno">
            <td v-for="column in columns" v-if="hasValue(item, column)" :key="column">{{itemValue(item, column)}}</td>
            <v-select :items="selectOptions">status</v-select>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        selectOptions: ['1st', '2nd', '3rd']
      }
    },
    props: {
      columns: Array,
      data: Array,
      type: {
        type: String, // striped | hover
        default: 'Striped'
      },
      title: {
        type: String,
        default: ''
      },
      subTitle: {
        type: String,
        default: ''
      }
    },
    computed: {
      tableClass () {
        return `table-${this.type}`
      }
    },
    methods: {
      hasValue (item, column) {
        return item[column.toLowerCase()] !== 'undefined'
      },
      itemValue (item, column) {
        var str = column.replace(/\s+/g, '')
        console.log(JSON.stringify(item))
        return item[str.toLowerCase()]
      }
    }
  }

</script>
<style scoped>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.table > thead >
 tr > th, .table >
  tbody > tr > th, .table >
   tfoot > tr > th, .table >
    thead > tr > td, .table >
     tbody > tr > td, .table >
      tfoot > tr > td {
    vertical-align: middle;
}
</style>
