<template>
  <v-container fluid>
      <v-layout row wrap>
        <v-flex offset-md4 md4>
          <v-form v-model="valid">
            <v-layout row wrap>
                <v-text-field
                    label="Please enter a keyword"
                    v-model="search"
                ></v-text-field>
            </v-layout>
          </v-form>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex md4 offset-md5>
          <v-btn @click="list = true"  style="background-color:#E84335; color:white;"> List View</v-btn>
          <v-btn @click="list = false"  style="background-color:#E84335; color:white;">Map View</v-btn>
        </v-flex>
      </v-layout>
      <cardlist :data="filteredData" v-if="list"></cardlist>
      <maplist v-else :markers="filteredData"></maplist>
  </v-container>
</template>
<script>
import cardlist from '@/components/cardlist'
import maplist from '@/components/maplist'
export default {
  components: {
    cardlist,
    maplist
  },
  data () {
    return {
      valid: true,
      list: true,
      search: '',
      data: [
        {id: '1', profileImage: 'https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Faizan', rating: 4, location: 'G11 Markaz', coordinates: { lat: 33.66932, lng: 72.99994 }, charges: '1000', services: ['weddings', 'travel']},
        {id: '2', profileImage: 'https://images.pexels.com/photos/555790/pexels-photo-555790.png?auto=compress&cs=tinysrgb&h=350', name: 'Haseeb', rating: 2, location: 'Gulistan Coloney', coordinates: {lat: 33.57194, lng: 73.08306}, charges: '2000', services: ['wildlife', 'cinematograpy']},
        {id: '3', profileImage: 'https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Asad', rating: 3, location: 'Katchehri Chowk', coordinates: {lat: 33.57194, lng: 73.08306}, charges: '3000', services: ['weddings', 'cinematograpy']},
        {id: '4', profileImage: 'https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Kehan', rating: 3, location: 'Blue Area', coordinates: {lat: 33.71729, lng: 73.07078}, charges: '4000', services: ['weddings', 'wildlife']},
        {id: '5', profileImage: 'https://images.pexels.com/photos/874158/pexels-photo-874158.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Jafer', rating: 3, location: 'Nust H12', coordinates: {lat: 33.64254, lng: 72.99047}, charges: '5000', services: ['cinematograpy', 'travel']},
        {id: '6', profileImage: 'https://images.pexels.com/photos/373899/pexels-photo-373899.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Faiq', rating: 4, location: 'E - 9', coordinates: {lat: 33.66807, lng: 73.07299}, charges: '6000', services: ['cinematograpy', 'places']},
        {id: '7', profileImage: 'https://images.pexels.com/photos/428341/pexels-photo-428341.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Mohsin', rating: 4, location: 'I - 8', coordinates: {lat: 33.55052, lng: 73.12611}, charges: '7000', services: ['places', 'cinematograpy']},
        {id: '8', profileImage: 'https://images.pexels.com/photos/213117/pexels-photo-213117.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Mazhar', rating: 4, location: 'Chor Chowk', coordinates: {lat: 33.5396, lng: 73.09909}, charges: '8000', services: ['nature', 'travel']},
        {id: '9', profileImage: 'https://images.pexels.com/photos/683381/pexels-photo-683381.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Osama', rating: 5, location: 'Morgah', coordinates: {lat: 33.6428, lng: 73.07078}, charges: '9000', services: ['weddings', 'travel']},
        {id: '10', profileImage: 'https://images.pexels.com/photos/845434/pexels-photo-845434.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Safdar', rating: 5, location: 'DHA', coordinates: {lat: 33.66935, lng: 73.04348}, charges: '10000', services: ['cinematograpy', 'travel']},
        {id: '11', profileImage: 'https://images.pexels.com/photos/428339/pexels-photo-428339.jpeg?auto=compress&cs=tinysrgb&h=350', name: 'Zixsol', rating: 5, location: 'Bahria Town', coordinates: {lat: 33.59611, lng: 73.05381}, charges: '11000', services: ['nature', 'cinematograpy']}
      ]
    }
  },
  methods: {
    filterBySearch (data) {
      if (this.search === '' || this.search == null) {
        return true
      }
      return (data.name.toLowerCase()).match(this.search.toLowerCase()) ||
      (data.location.toLowerCase()).match(this.search.toLowerCase()) ||
      (data.charges.toLowerCase()).match(this.search.toLowerCase()) ||
      (data.services[0].toLowerCase()).match(this.search.toLowerCase()) ||
      (data.services[1].toLowerCase()).match(this.search.toLowerCase())
    }
  },
  computed: {
    filteredData () {
      this.data.sort((a, b) => b.rating - a.rating)
      return this.data.filter(data => this.filterBySearch(data))
    }
  }
}
</script>

