<template>
<div id="main_div" style="background-image: url(https://images.freeimages.com/images/large-previews/243/the-rave-1179198.jpg)">
  <recentWork 
    :images="recentWork" :options="options">
  </recentWork>
  <v-layout row wrap>
      <v-flex md8>
        <welcome-message :profileImage="pImage" :message="wMessage"></welcome-message>
      </v-flex>
      <v-flex md4 class="mt-5 pt-4">
        <contact></contact>
      </v-flex>
  </v-layout>

  <v-layout row wrap class="mt-5">
      <v-flex offset-md4>
        <h1>What others are saying:</h1>
      </v-flex>
  </v-layout>
  <v-layout>
    <v-layout row wrap>
        <v-flex offset-md2 md7>
          <comment class="mb-5 comment_box" :reviews="reviews"></comment>
        </v-flex>
    </v-layout>
  </v-layout>
</div>
</template>

<script>
import welcomeMessage from '@/components/detailsPage/welcomeMessage'
import recentWork from '@/components/detailsPage/recentWork'
import clients from '@/components/detailsPage/clients'
import testimonials from '@/components/detailsPage/testimonials'
import mainSlider from '@/components/detailsPage/mainSlider'
import contact from '@/components/detailsPage/contact'
import comment from '@/components/detailsPage/comment'
import Lightbox from 'vue-simple-lightbox'
export default {
  layout: 'detail',
  components: {
    welcomeMessage,
    recentWork,
    clients,
    testimonials,
    mainSlider,
    contact,
    comment,
    Lightbox
  },
  data () {
    return {
      pImage: 'https://i.mdel.net/i/db/2016/3/505853/505853-500w.jpg',
      wMessage: 'This a welcome Message This a welcome Message This a welcome Message This a welcome Message This a welcome Message This a welcome Message This a welcome Message This a welcome Message',
      items: [
        {
          src: 'https://images.freeimages.com/images/large-previews/389/mitze-1380778.jpg'
        },
        {
          src: 'https://images.freeimages.com/images/large-previews/fdc/swiss-mountains-1362968.jpg'
        },
        {
          src: 'https://images.freeimages.com/images/large-previews/4b6/the-road-1361700.jpg'
        },
        {
          src: 'https://images.freeimages.com/images/large-previews/925/ice-cubes-1-1195738.jpg'
        }
      ],
      recentWork: [
        {
          src: 'https://images.pexels.com/photos/87452/flowers-background-butterflies-beautiful-87452.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 1'
        },
        {
          src: 'https://images.pexels.com/photos/66874/landscape-meadow-field-mountains-66874.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 2'
        },
        {
          src: 'https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 3'
        },
        {
          src: 'https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 4'
        },
        {
          src: 'https://images.pexels.com/photos/35600/road-sun-rays-path.jpg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 5'
        },
        {
          src: 'https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 6'
        },
        {
          src: 'https://images.pexels.com/photos/33688/delicate-arch-night-stars-landscape.jpg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 7'
        },
        {
          src: 'https://images.pexels.com/photos/462162/pexels-photo-462162.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 8'
        },
        {
          src: 'https://images.pexels.com/photos/414144/pexels-photo-414144.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 15'
        },
        {
          src: 'https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 8'
        },
        {
          src: 'https://images.pexels.com/photos/236047/pexels-photo-236047.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 9'
        },
        {
          src: 'https://images.pexels.com/photos/60006/spring-tree-flowers-meadow-60006.jpeg?auto=compress&cs=tinysrgb&h=750',
          title: 'Image # 10'
        }
      ],
      options: {
        closeText: 'X'
      },
      testimonials: [
        {name: 'Nawaz Sharif', designation: 'Former disqualified Prime Minister', message: 'Mujhe kyan nikala....Kyun? Mujhe kyan nikala....Kyun? Mujhe kyan nikala....Kyun? Mujhe kyan nikala....Kyun? Mujhe kyan nikala....Kyun?', avatar: 'http://udayanadu.com/wp-content/uploads/2018/03/220px-PrimeMinisterNawazSharif.jpg'},
        {name: 'Imran Khan', designation: 'Chairman PTI', message: 'Tabdeeli A nahi rahi.....tabdeeli a gayi hai Tabdeeli A nahi rahi.....tabdeeli a gayi hai Tabdeeli A nahi rahi.....tabdeeli a gayi hai Tabdeeli A nahi rahi.....tabdeeli a gayi hai Tabdeeli A nahi rahi.....tabdeeli a gayi hai Tabdeeli A nahi rahi.....tabdeeli a gayi hai', avatar: 'https://static01.nyt.com/images/2012/08/19/magazine/19khan/19khan-articleLarge.jpg'},
        {name: 'Asif Ali Zardari', designation: 'Mr. 10%', message: 'Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...Pakistan Khappay...', avatar: 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Asif_Ali_Zardari_-_2009.jpg/220px-Asif_Ali_Zardari_-_2009.jpg'},
        {name: 'Qamar Javaid Bajwa', designation: 'COAS of Pakistan', message: 'Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....Azeez hum watnoo!!!....', avatar: 'https://www.brecorder.com/wp-content/uploads/2017/03/qamar-javed-bajwa1024.jpg'}
      ],
      clients: [
        {id: '2', img: 'https://upload.wikimedia.org/wikipedia/commons/a/a7/HSY_yritystunnus_1660x904px_rgb.png'},
        {id: '3', img: 'http://styloplanet.com/wp-content/uploads/2016/02/threadz%E2%80%8D-brand-logo.png'},
        {id: '5', img: 'http://styloplanet.com/wp-content/uploads/2016/05/khuda-baksh-clothing-brand-logo.png'},
        {id: '6', img: 'https://achieve.pk/wp-content/uploads/2017/07/warda-ready-to-wear-prints-logo.png'},
        {id: '7', img: 'https://www.ebuzztoday.com/wp-content/uploads/khaadi-lawn-prints-logo.png'},
        {id: '8', img: 'http://360shop.pk/wp-content/uploads/2015/10/bonanza-clothing-brand-logo.png'},
        {id: '9', img: 'http://clickaar.com/asim-jofa-clothing-brand-logo.png'},
        {id: '10', img: 'http://www.aljanatmall.com/images/logo.png'},
        {id: '1', img: 'https://cdn.shopify.com/s/files/1/0239/3483/files/Haniyas_Boutique_Logos1_800x.png?v=1507737071'}
      ],
      reviews: [
        {dp: 'https://www.planetdance.com.au/wp-content/uploads/2017/12/mitchell-hicks-profile.jpg', name: 'Kehan Ahmed', rating: 4, message: 'He is a wonderful photographer that we would not hesitate to recommend to any one', date: '13th March , 2018'},
        {dp: 'https://allinonetricks.com/wp-content/uploads/2017/08/5-7.png', name: 'Haseeb Ahmed', rating: 3, message: 'His skills and professionalism were matched only by his fun personality to be around on our special day', date: '13th January , 2018'},
        {dp: 'https://s3.amazonaws.com/aspph-wp-production/app/uploads/2017/03/Ans-.jpg', name: 'Faizan Aslam', rating: 5, message: 'His passion, enthusiasm and absolutely stunning photos made the decision a simple one. Knowing that we had Peter taking so much care documenting our wedding day in the amazing way he does really took the pressure off.', date: '13th February , 2018'}
      ]
    }
  }
}
</script>
<style>
#main_div{
  background-image: url(https://images.freeimages.com/images/large-previews/243/the-rave-1179198.jpg) no-repeat center center fixed;
  background-size: cover;
}
.comment_box{
  background-color:#181818;
  border-radius: 25px;
 }
</style>

