<template>
  <v-app>
    <dash-board-layout></dash-board-layout>
  </v-app>
</template>

<script>
  import 'bootstrap/dist/css/bootstrap.css'
  import '@/assets/sass/paper-dashboard.scss'
  import DashBoardLayout from '@/components/Admin/Layout/DashBoardLayout.vue'
  export default {
    computed: {
    },
    components: {
      DashBoardLayout
    }
  }
</script>
<style lang='css'>
.btn {
  height: initial
}
</style>
