<template>
<v-layout class="mb-5 pb-5 mt-5" style="margin-top: -30px;">
  <v-flex  md8 offset-md2>
    <v-form v-model="valid" ref="form" lazy-validation>
      <v-layout row wrap>
        <v-flex>
          <v-alert type="error" v-model="error" dismissible>
            {{errorMessage}}
          </v-alert>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex>
          <v-text-field
            label="E-mail"
            v-model="email"
            :rules="emailRules"
            required
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex>
            <v-text-field
              label="Password"
              v-model="password"
              required
              type="password"
            ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-btn
              @click="submit"
              :disabled="!valid"
              style="background-color:#d72929; color:white;"
            >
              Login
            </v-btn>
        </v-flex>
      </v-layout>
    </v-form>
  </v-flex>
</v-layout>
  
</template>
<script>
  export default {
    data () {
      return {
        errorMessage: '',
        error: false,
        valid: true,
        password: '',
        email: '',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ]
      }
    },
    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          const admin = {
            email: this.email,
            password: this.password
          }
          this.$store.dispatch('adminLogin/signUserInwithEmail', admin).then(data => {
            console.log('data have', data)
            if (data === true) {
              console.log('if triggered')
              this.$router.push(`/admin/`)
              this.email = ''
              this.password = ''
            } else {
              this.error = true
              this.errorMessage = data.message
              console.log('login unsuccessful')
            }
          })
        }
      }
    }
  }
</script>
<style scoped>
  
</style>