<template>
<v-container fluid>
  <v-layout row wrap class="mt-1">

  <v-flex md12>
        <vue-good-table
          :columns="columns"
          :rows="events">
          <template slot="table-row-before" slot-scope="props">
              <td>
                  <h4 class="main_heading">{{props.row.title}}</h4>
                  <h5 class="sub_heading"> Date : &nbsp; {{props.row.date}}</h5>
                  <h5 class="sub_heading">Location: &nbsp; {{props.row.location}}</h5>
              </td>


              <td>
                  <h4 class="main_heading">{{props.row.clientName}}</h4>
                  <h5 class="sub_heading">Contact : &nbsp; {{props.row.clientContact}}</h5>
                  <h5 class="sub_heading">Address : &nbsp; {{props.row.location}}</h5>
              </td>

               <td>
                  <h4 class="main_heading">Total Amount : &nbsp; Rs.{{props.row.totalAmount}}</h4>
                  <h5 class="sub_heading">Remaining Balance : &nbsp; Rs.{{props.row.balance}}</h5>
                  <h5 class="sub_heading">Received Amount : &nbsp; Rs.{{props.row.received}}&nbsp; <v-icon dark color="primary" slot="activator" class="add_amount" @click="dialog = true">add_circle</v-icon></h5> 
              </td>
          </template>
          <template slot="table-row-after" slot-scope="props">
              <td>
                <v-icon class="action_icon mt-3" large color="secondary">home</v-icon> &nbsp;
                <v-icon class="action_icon mt-3" large color="primary" @click="moreInfo(props.row.id)">info</v-icon> &nbsp;
                <v-icon class="action_icon mt-3" large>event</v-icon> &nbsp;
              </td>
               <!-- Adding amount dialog--> 
            <v-layout row justify-center>
              <v-dialog v-model="dialog" persistent max-width="500">
                <v-form v-model="valid">
                <v-card>
                  <v-card-title class="headline">Add receieved amount</v-card-title>
                  <v-flex xs12 sm6 md8 offset-md1>
                          <v-text-field label="Enter the newly receieve amount" v-model="newAmount" required></v-text-field>
                        </v-flex>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialog = false">Cancel</v-btn>
                    <v-btn color="green darken-1" flat @click.native="addAmount(props.row.id)">Save</v-btn>
                  </v-card-actions>
                </v-card>
                </v-form>
              </v-dialog>
            </v-layout>
            <!-- adding amount dialog end -->

            <!-- More info dialog -->

        <v-dialog
            v-model="moreInfoDialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
            scrollable
          >
        <v-card tile>
          <v-toolbar card dark color="primary">
              <v-icon @click="moreInfoDialog = false" dark style="cursor:pointer;">close</v-icon>
          </v-toolbar>
          <v-card-text>
            <v-list three-line subheader>
              <v-list-tile avatar>
                <v-subheader>Event</v-subheader>&nbsp;&nbsp;&nbsp;
                <v-list-tile-content>
                  <v-list-tile-title class="event_title"> {{props.row.title}}</v-list-tile-title>
                  <v-list-tile-sub-title>Date : <span class="span_value"> {{props.row.date}}</span></v-list-tile-sub-title>
                  <v-list-tile-sub-title>Location :<span class="span_value">  {{props.row.location}}</span></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile>
                <v-subheader>Client</v-subheader> &nbsp;&nbsp;&nbsp;
                <v-list-tile-content>
                  <v-list-tile-title class="event_title"><span class="span_value"> {{props.row.clientName}}</span></v-list-tile-title>
                  <v-list-tile-sub-title>Contact : <span class="span_value"> {{props.row.clientContact}}</span></v-list-tile-sub-title>
                  <v-list-tile-sub-title>Address : <span class="span_value"> {{props.row.location}}</span></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile avatar>
                <v-subheader>Accounts</v-subheader>&nbsp;&nbsp;&nbsp;
                <v-list-tile-content>
                  <v-list-tile-sub-title>Total Amount : <span class="span_value">  Rs . {{props.row.totalAmount}}</span></v-list-tile-sub-title>
                  <v-list-tile-sub-title>Receieved : <span class="span_value"> Rs . {{props.row.received}}</span></v-list-tile-sub-title>
                  <v-list-tile-sub-title>Balance : <span class="span_value"> Rs .{{props.row.balance}}</span></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile avatar>
                <v-subheader>Team Members</v-subheader>&nbsp;&nbsp;&nbsp;
                <v-list-tile-content>
                  <v-list-tile-sub-title><span class="span_value">  {{props.row.team}} </span></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile avatar class="mt-5 mb-5">
                <v-subheader>Invoices</v-subheader>&nbsp;&nbsp;&nbsp;
                <v-list>
                <v-list-tile avatar v-for="(EI,i) in anEventInvoices" :key="i" class="invoices">
                        Invoice ID :<span class="span_value"> {{ EI.id }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Amount Paid : <span class="span_value">  Rs. {{ EI.amountPaid }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Date :<span class="span_value"> {{ EI.date }}</span>
                </v-list-tile>
                </v-list>
              </v-list-tile>
            </v-list>
          </v-card-text>

          <div style="flex: 1 1 auto;"></div>
        </v-card>
      </v-dialog>
            <!-- more infor dialog end -->

          </template>
    </vue-good-table>
     <br> <br> <br> <br> <br>
     <v-layout row wrap>
        <v-flex md12>
          <v-layout row wrap>
            <v-flex offset-md4>
              <h1>Recent Activity</h1>
            </v-flex>   
          </v-layout>
          <v-layout row wrap>
            <v-flex offset-md2 md8>
              <v-alert type="info" :value="true" v-for="(RA,i) in rActivities" :key="i">{{RA.clientName}} has paid Rs. {{RA.amountPaid}} on {{RA.date}}</v-alert> <br>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout> 
    </v-flex>
  </v-layout>
 

  <!-- <v-layout row wrap class="mt-5 mb-5">
    <v-flex offset-md5>
      <h1>Events Report</h1>
    </v-flex>
  </v-layout>

  <v-layout row wrap>
    <v-flex md5 >
      <v-layout row wrap>
        <v-flex offset-md4>
          <h2 class="mt-5 mb-2">Events Count</h2>
        </v-flex>  
      </v-layout>
      <lineChart ></lineChart>
    </v-flex>
    <v-flex md5 offset-md2>
      <v-layout row wrap>
        <v-flex offset-md4>
          <h2 class="mt-5 mb-2">Received - Remaining Amounts</h2>
        </v-flex>  
      </v-layout>
      <barChart></barChart>
    </v-flex>
  </v-layout>

  <v-layout row wrap class="mt-5">
    <v-flex md5>
      <v-layout row wrap>
        <v-flex offset-md4>
          <h2 class="mt-5 mb-2">Work Distribution</h2>
        </v-flex>  
      </v-layout>
      <doughnutChart></doughnutChart>
    </v-flex> 
  </v-layout> -->

</v-container>
</template>
<script>
import barChart from '@/components/barChart.js'
import lineChart from '@/components/lineChart.js'
import doughnutChart from '@/components/doughnutChart.js'
export default {
  layout: 'adminLayout',
  components: {
    barChart,
    lineChart,
    doughnutChart
  },
  name: 'my-component',
  data () {
    return {
      newAmount: '',
      valid: true,
      dialog: false,
      moreInfoDialog: false,
      notifications: false,
      sound: true,
      widgets: false,
      itemsInfo: [
        {
          title: 'Click Me'
        },
        {
          title: 'Click Me'
        },
        {
          title: 'Click Me'
        },
        {
          title: 'Click Me 2'
        }
      ],
      select: [
        { text: 'State 1' },
        { text: 'State 2' },
        { text: 'State 3' },
        { text: 'State 4' },
        { text: 'State 5' },
        { text: 'State 6' },
        { text: 'State 7' }
      ],
      items: [
        { title: 'Invoices', icon: 'dashboard' },
        { title: 'Reports', icon: 'question_answer' }
      ],
      right: null,
      currentDate: new Date(),
      columns: [
        {
          label: 'Event'
          // field: 'title',
          // filterOptions: {
          //   enabled: true,
          // },
        },
        {
          label: 'Client'
          // field: 'clientName',
          // type: 'string',
        },
        // {
        //   label: 'Time',
        //   field: 'time',
        //   type: 'string',
        // },
        {
          label: 'Accounts'
          // field: 'totalAmount',
          // type: 'number',
        },
        {
          label: 'Actions',
          html: false,
          sortable: false
        }
      ],
      iCols: [
        {
          label: 'Invoice Id',
          field: 'id'
        },
        {
          label: 'Customer',
          field: 'customer'
        },
        {
          label: 'Date',
          field: 'date'
        },
        {
          label: 'Total',
          field: 'total'
        },
        {
          label: 'Amount Paid',
          field: 'amountPaid'
        },
        {
          label: 'Balance',
          field: 'balance'
        }
      ],
      iRows: [],
      recentActivity: [],
      eventInvoices: []
    }
  },
  computed: {
    rActivities () {
      return this.$store.getters.getAllRecentActivities
    },
    invoices () {
      return this.$store.getters.getAllInvoices
    },
    events () {
      return this.$store.getters.getAllEvents
    },
    anEventInvoices () {
      return this.eventInvoices
    }
  },
  methods: {
    addAmount (id) {
      var rA = {
        clientName: this.events[id].clientName,
        amountPaid: Number(this.newAmount),
        date: new Date().toLocaleString()
      }
      this.$store.dispatch('addRecentActivity', rA)
      let today = new Date()
      var invoice = {
        id: Math.floor(Math.random() * 100000),
        eventID: id,
        eventName: this.events[id].title,
        customer: this.events[id].clientName,
        date: today.toLocaleString(),
        total: this.events[id].totalAmount,
        amountPaid: Number(this.newAmount),
        balance: this.events[id].balance
      }
      this.$store.dispatch('addInvoice', invoice)
      // this.iRows.push(invoice)

      this.newAmount = null
      this.dialog = false
    },
    moreInfo (id) {
      this.moreInfoDialog = true
      this.eventInvoices = []
      for (let invoice in this.invoices) {
        if (id === this.invoices[invoice].eventID) {
          console.log('invoice have ', this.invoices[invoice])
          this.eventInvoices.push(this.invoices[invoice])
        }
      }
    }
  }
}
</script>
<style>
.add_amount:hover{
  cursor: pointer;
}
.main_heading{
  font-size: 16px !important;
}
.sub_heading{
  font-size: 13px !important;
}
.action_icon:hover{
  cursor: pointer;
}
.event_title{
  font-size:30px;
  font-weight: bold;
  line-height: 40px !important;
  height: 40px !important;
}
.span_value{
  color:black;
  font-weight: bold;
}
.invoices{
  height: 30px !important;
}
</style>
