<template>
  <v-layout justify-center align-center>
    <v-flex md4>
      <v-form v-model="valid">
        <v-select
          label="Please select a City from The List"
          v-model="select"
          :items="cities"
        ></v-select>
        <v-btn
          @click="nextPage(select)"
          color="primary"
        >
          Go
        </v-btn>
        </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    valid: false,
    select: null,
    cities: [
      'Lahore',
      'Islamabad',
      'Karachi',
      'Peshawar'
    ]
  }),
  methods: {
    nextPage (select) {
      this.$router.push('/search')
    }
  }
}
</script>
