<template>
  <div>
       <v-layout row wrap>
        <v-flex offset-md1 md10>
          <v-layout row wrap>
            <v-flex md4 offset-md5>
              <h1>Invoices</h1>
            </v-flex>
          </v-layout>
          <vue-good-table
          :columns="iCols"
          :rows="invoices" />
        </v-flex>
      </v-layout>    
  </div>
</template>
<script>
export default {
  layout: 'adminLayout',
  data () {
    return {
      iCols: [
        {
          label: 'Invoice ID',
          field: 'id'
        },
        {
          label: 'Event',
          field: 'eventName'
        },
        {
          label: 'Customer',
          field: 'customer'
        },
        {
          label: 'Date',
          field: 'date'
        },
        {
          label: 'Total',
          field: 'total'
        },
        {
          label: 'Amount Paid',
          field: 'amountPaid'
        },
        {
          label: 'Balance',
          field: 'balance'
        }
      ]
    }
  },
  computed: {
    invoices () {
      return this.$store.getters.getAllInvoices
    }
  }
}
</script>
