<template>
<v-container>
  <v-layout row wrap  class="mt-5">
    <v-flex  md4>
          <v-form v-model="valid">
            <v-layout row wrap>
                <v-text-field
                    label="Search by event , location , team members"
                    v-model="search"
                ></v-text-field>
            </v-layout>
          </v-form>
        </v-flex>
    <v-flex md1 offset-md7>
      <v-tooltip top>
      <v-icon large style="color:#0294ca; font-size:60px;" slot="activator" @click="dialog=true" class="add_event">event</v-icon>
        <span>Add an Event</span>
      </v-tooltip>
    </v-flex> 
  </v-layout>
  <vue-event-calendar :events="filteredEvents" >
    <template slot-scope="props">
        <v-card v-for="(event, index) in props.showEvents" class="event-item" :key="index" hover>
          <v-layout row wrap>
              <h3>{{event.title}}</h3>   
          </v-layout>
          <v-layout row wrap class="mt-2">
            <v-flex md6>
              <h5>Date : &nbsp;&nbsp;&nbsp; <span style="color:#0294ca;">{{event.date}}</span></h5>
            </v-flex>
            <v-flex md6>
              <h5>Time : &nbsp;&nbsp;&nbsp; <span style="color:#0294ca;">{{event.time}}</span></h5>
            </v-flex>
          </v-layout>

          <v-layout row wrap class="mt-3">
            <v-flex md6>
              <h5>Client Name : &nbsp;&nbsp; <span style="color:#0294ca;">{{event.clientName}}</span></h5>
            </v-flex>
            <v-flex md6>
              <h5>Contact : &nbsp;&nbsp;&nbsp; <span style="color:#0294ca;">{{event.clientContact}}</span></h5>
            </v-flex>
          </v-layout>

          <v-layout row wrap class="pt-2">
                <v-layout row wrap class="pt-2">
                  <h5>Location</h5>  &nbsp;&nbsp;&nbsp;
                  <h5 style="color:#0294ca;">{{event.location}}</h5>
                </v-layout >
          </v-layout>
          <v-layout row wrap class="mt-3 mb-5">
                    <h5>Team Members </h5>  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    <span v-for="(item, i) in event.team" :key="i" style="color:#0294ca;">{{item}} &nbsp;&nbsp;</span>
          </v-layout>
        </v-card>
    </template>
  </vue-event-calendar>

  <v-layout>
    <v-dialog v-model="dialog" persistent fullscreen style="z-index:5000;">
      <v-form v-model="valid" light>
      <v-card>
        <v-card-title>
          <span class="headline">Add an Event</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex md5>
                <v-text-field label="Add an event title" required v-model="eventTitle"></v-text-field>
              </v-flex>
              <v-flex offset-md1 md5>
                <v-text-field label="Add an event Location" required v-model="eventLocation"></v-text-field>
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex md5>
                <v-text-field label="Add client name" required v-model="clientName"></v-text-field>
              </v-flex>
              <v-flex offset-md1 md5>
                <v-text-field label="Add client contact" required v-model="clientContact"></v-text-field>
              </v-flex>
            </v-layout>

            <v-layout>
              <v-flex md5>
                    <v-menu
                        ref="menu2"
                        lazy
                        :close-on-content-click="false"
                        v-model="menu2"
                        transition="scale-transition"
                        offset-y
                        full-width
                        :nudge-right="40"
                        max-width="290px"
                        min-width="290px"
                        :return-value.sync="eventTime"
                      >
                        <v-text-field
                          slot="activator"
                          label="Pick a time"
                          v-model="eventTime"
                          prepend-icon="access_time"
                          readonly
                        ></v-text-field>
                        <v-time-picker v-model="eventTime" @change="$refs.menu.save(eventTime)"></v-time-picker>
                      </v-menu>
                  </v-flex>
                  <v-flex offset-md1 md5>
                    <v-menu
                      ref="menu"
                      lazy
                      :close-on-content-click="false"
                      v-model="menu"
                      transition="scale-transition"
                      offset-y
                      full-width
                      :nudge-right="40"
                      min-width="290px"
                      :return-value.sync="eventDate"
                    >
                      <v-text-field
                        slot="activator"
                        label="Pick a date"
                        v-model="eventDate"
                        prepend-icon="event"
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="eventDate" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                        <v-btn flat color="primary" @click="$refs.menu.save(eventDate)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
              </v-flex>
            </v-layout>
            <v-layout wrap row class="mt-1">
              <v-flex md6>
                <label for="">Choose team members</label>
                <v-layout row wrap>
                  <v-checkbox label="Faizan" v-model="eventTeam" value="Faizan"></v-checkbox>
                  <v-checkbox label="Haseeb" v-model="eventTeam" value="Haseeb"></v-checkbox>
                  <v-checkbox label="Asad" v-model="eventTeam" value="Asad"></v-checkbox>
                  <v-checkbox label="Kehan" v-model="eventTeam" value="Kehan"></v-checkbox>
                </v-layout>
                  
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submit">Submit</v-btn>
        </v-card-actions>
      </v-card>
      </v-form>
    </v-dialog>
  </v-layout>
</v-container>
</template>
<script>
export default {
  data () {
    return {
      dialog: false,
      search: '',
      valid: true,
      menu2: false,
      menu: false,
      eventTitle: '',
      clientName: '',
      clientContact: '',
      eventTime: null,
      eventLocation: '',
      eventDate: null,
      eventTeam: [],
      demoEvents: [{
        date: '2018/04/11',
        title: 'Danish & Aiza marriage',
        clientName: 'Faiq Farhan',
        clientContact: '03368361899',
        time: '8:00 PM',
        team: ['Faizan Zafar', 'Haseeb Ahmed', 'Kehan Ahmaed'],
        location: 'G11 Markaz'
      }, {
        date: '2018/04/11',
        title: 'Haania & Hooria Birthday',
        clientName: 'Zeeshan',
        clientContact: '03368123899',
        time: '5:00 PM',
        team: ['Faizan Aslam', 'Kehan Ahmaed'],
        location: 'Blue Area'
      },
      {
        date: '2018/04/19',
        title: 'Family Photoshoot of Kapoors',
        clientName: 'Raj Kapoor',
        clientContact: '03218361456',
        time: '7:00 PM',
        team: ['Muhammad Asad', 'Faizan Zafar', 'Haseeb Ahmed'],
        location: 'Bahria Town'
      },
      {
        date: '2018/04/21',
        title: 'Haseeb Birthday',
        clientName: 'Haseeb Ali',
        clientContact: '03058368910',
        time: '11:00 PM',
        team: ['Muhammad Asad', 'Kehan Ahmaed'],
        location: 'Ayub Park'
      }, {
        date: '2018/04/30',
        title: 'Kehan Graduation Ceremoney',
        clientName: 'Kehan Khan',
        clientContact: '03468786899',
        time: '3:00 PM',
        team: ['Faizan Zafar', 'Kehan Ahmaed'],
        location: 'DHA Phase 2'
      }, {
        date: '2018/04/25',
        title: 'Football Match',
        clientName: 'Osama Abid',
        clientContact: '03368361123',
        time: '1:00 PM',
        team: ['Faizan Aslam', 'Haseeb Ahmed'],
        location: 'H-9'
      }, {
        date: '2018/04/1',
        title: 'Opening Ceremony of Al-Jannat Mall',
        clientName: 'Rauf Siddique',
        clientContact: '03368361567',
        time: '9:00 PM',
        team: ['Asad', 'Kehan Ahmed'],
        location: 'Saddar'
      }
      ]
    }
  },
  methods: {
    submit () {
      this.dialog = false
      this.eventDate = this.eventDate.toString()
      console.log(this.eventDate)
      var newdate = this.eventDate.replace(/-/g, '/')
      var newEvent = {
        title: this.eventTitle,
        clientName: this.clientName,
        clientContact: this.clientContact,
        location: this.eventLocation,
        time: this.eventTime,
        date: newdate,
        team: this.eventTeam
      }
      console.log(newEvent)
      this.demoEvents.push(newEvent)

      this.eventTitle = ''
      this.eventLocation = ''
      this.eventTime = null
      this.eventDate = null
      this.eventTeam = []
    },
    filterBySearch (demoEvents) {
      if (this.search === '' || this.search == null) { return true }
      return (demoEvents.title.toLowerCase()).match(this.search.toLowerCase()) ||
          (demoEvents.location.toLowerCase()).match(this.search.toLowerCase()) ||
          (demoEvents.time.toLowerCase()).match(this.search.toLowerCase()) ||
          (demoEvents.team[0].toLowerCase()).match(this.search.toLowerCase()) ||
          (demoEvents.team[1].toLowerCase()).match(this.search.toLowerCase())
    }
  },
  computed: {
    filteredEvents () {
      this.demoEvents.sort((a, b) => a.time - b.time)
      return this.demoEvents.filter(demoEvents => this.filterBySearch(demoEvents))
    }
  }
}
</script>
<style>
.selected-day{
  color: #0294ca;
}
.events-wrapper{
  /* padding:5px !important; */
}
.cal-wrapper{
  /* padding:10px !important; */
  
}
.cal-events{
  /* width:550px;
  margin-left: -30px !important; */
}
.add_event:hover{
  cursor: pointer;
}
.today{
  /* border-bottom: 15px; */
  /* border-radius: 40px; */
  background-color: #0294ca;
  border-radius: 40px;
  cursor: pointer;
}
.date-num{
  color:black !important;
}

</style>
