<template>
<v-container fluid>
  <v-layout row wrap class="mb-2 mt-1">
    <v-flex offset-md5 md4>
      <v-layout row wrap>
        <v-icon style="color:#154360;">fas fa-circle</v-icon> &nbsp;&nbsp;&nbsp;<h3>Available Dates</h3>
      </v-layout> 
    </v-flex>
    
  </v-layout>
  <v-layout row wrap>
    <v-flex offset-md1>
      <v-calendar :attributes='attrs' :pane-width='1100' style="height: 600px;" :theme-styles='themeStyles' @dayclick="dialog=true">
      </v-calendar>
    </v-flex> 
  </v-layout>
  <!-- dialog box -->
  <v-layout row wrap>
    <v-flex>
      <v-dialog v-model="dialog" persistent max-width="600px">
      <v-form light v-model="form">
        <v-card>
          <v-card-title>
            <span class="headline">Book for your Event</span>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex md5>
                <v-text-field label="Your name" v-model="name"></v-text-field>
              </v-flex>
              <v-flex offset-md1 md5>
                <v-text-field label="Event Title" v-model="title"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex>
                <label for="">Select Your Time Slot</label>
                <v-radio-group v-model="time">
                  <v-radio
                    v-for="n in times"
                    :key="n"
                    :label="`${n}`"
                    :value="n"
                  ></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
            <v-btn color="blue darken-1" flat @click.native="submit">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
      </v-dialog>
    </v-flex>
  </v-layout>
</v-container>
  
</template>
<script>
  export default {
    data () {
      const hSpacing = '25px'
      return {
        dialog: false,
        name: '',
        title: '',
        time: '',
        times: ['2:00 - 3:00', '4:00 - 6:00', '6:00 - 8:00', '9:00 - 12:00'],
        attrs: [
          {
            key: 'today',
            highlight: {
              backgroundColor: ' #154360 ',
              width: '50px',
              height: '50px'
            },
            popover: {
              label: 'Click to book for an event'
            },
            dates: [
              new Date(2018, 3, 1),
              new Date(2018, 3, 10),
              new Date(2018, 3, 20),
              new Date(2018, 3, 30),
              new Date(2018, 3, 15),
              new Date(2018, 3, 25),
              new Date(2018, 3, 21),
              new Date(2018, 3, 2),
              new Date(2018, 3, 3),
              new Date(2018, 3, 4),
              new Date(2018, 3, 5),
              new Date(2018, 3, 6),
              new Date(2018, 3, 7),
              new Date(2018, 3, 8),
              new Date(2018, 3, 9),
              new Date(2018, 3, 11),
              new Date(2018, 3, 12),
              new Date(2018, 3, 13),
              new Date(2018, 3, 14),
              new Date(2018, 3, 16),
              new Date(2018, 3, 17)
            ]
          }
        ],
        themeStyles: {
          wrapper: {
            background: '#0294ca',
            color: '#fafafa',
            border: '0',
            borderRadius: '5px',
            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.13)'
          },
          headerHorizontalDivider: {
            borderTop: 'solid rgba(255, 255, 255, 0.2) 1px',
            width: '80%'
          },
          dayContent: {
            fontSize: '1.7rem',
            padding: `30px`
          },
          header: {
            padding: `30px ${hSpacing}`,
            fontSize: '2rem'
          },
          weekdays: {
            padding: `20px ${hSpacing} 5px ${hSpacing}`,
            fontSize: '2rem',
            color: '#ffffff'
          },
          weeks: {
            padding: `20px ${hSpacing} ${hSpacing} ${hSpacing}`
          },
          dayCellNotInMonth: {
            opacity: 0.4
          }
        }
      }
    },
    methods: {
      submit () {
        console.log('Form has been submitted')
      }
    }
}
</script>
<style>
.c-title{
  font-size: 40px !important;
}
.c-arrow{
  font-size: 40px !important;
}
</style>
