<template>
  <div :class="sidebarClasses" :data-background-color="backgroundColor" :data-active-color="activeColor">
    <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black | darkblue"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->
    <!-- -->
    <div class="sidebar-wrapper" id="style-3">
      <div class="logo">
        <router-link to="/savingsStatus" class="simple-text">
            <div class="logo-img">
                <img src="@/assets/images/insert_image.png" type="favicon" alt="broken">
            </div>
          Some Heading
        </router-link>
      </div>
      <slot>

      </slot>
      <ul :class="navClasses">
        <!--By default vue-router adds an active class to each route link. This way the links are colored when clicked-->
        <router-link v-for="(link,index) in sidebarItems" :to="link.path" tag="li" :ref="link.name" :key="index">
          <a>
             <font-awesome-icon :icon="link.icon" size="2x" style="margin-right: .3em;"/> <p style="display: inline; vertical-align: bottom"> {{link.name}}</p>
          </a>
        </router-link>
      </ul>
      <moving-arrow :move-y="arrowMovePx">

      </moving-arrow>
    </div>
  </div>
</template>
<script>
  import MovingArrow from './MovingArrow.vue'
  export default {
    props: {
      type: {
        type: String,
        default: 'sidebar',
        validator: (value) => {
          let acceptedValues = ['sidebar', 'navbar']
          return acceptedValues.indexOf(value) !== -1
        }
      },
      backgroundColor: {
        type: String,
        default: 'black',
        validator: (value) => {
          let acceptedValues = ['white', 'black', 'darkblue']
          return acceptedValues.indexOf(value) !== -1
        }
      },
      activeColor: {
        type: String,
        default: 'success',
        validator: (value) => {
          let acceptedValues = ['primary', 'info', 'success', 'warning', 'danger']
          return acceptedValues.indexOf(value) !== -1
        }
      },
      sidebarLinks: {
        type: Array,
        default: () => []
      }
    },
    components: {
      MovingArrow
    },
    data () {
      return {
        linkHeight: 60,
        activeLinkIndex: 0,
        windowWidth: 0,
        isWindows: false,
        hasAutoHeight: false
      }
    },
    computed: {
      sidebarClasses () {
        if (this.type === 'sidebar') {
          return 'sidebar'
        } else {
          return 'collapse navbar-collapse off-canvas-sidebar'
        }
      },
      navClasses () {
        if (this.type === 'sidebar') {
          return 'nav'
        } else {
          return 'nav navbar-nav'
        }
      },
      user () {
        return this.$store.getters['adminLogin/user']
      },
      isUserAdmin () {
        return this.$store.getters.isUserAdmin
      },
      sidebarItems () {
        var sidebarItems = []
        if (this.user === null) {
          sidebarItems = [
            {
              name: 'Dashboard',
              icon: 'lock-open',
              path: '/accounts'
            },
            {
              name: 'Invoices',
              icon: 'lock-open',
              path: '/invoices'
            },
            {
              name: 'Reports',
              icon: 'lock-open',
              path: '/reports'
            }
          ]
        } else {
          sidebarItems = [
            {
              name: 'Admin',
              path: '/admin',
              icon: 'unlock-alt'
            }
          ]
        }
        return sidebarItems
      },
      /**
       * Styles to animate the arrow near the current active sidebar link
       * @returns {{transform: string}}
       */
      arrowMovePx () {
        return this.linkHeight * this.activeLinkIndex
      }
    },
    methods: {
      findActiveLink () {
        this.sidebarItems.find((element, index) => {
          let found = element.path === this.$route.path
          if (found) {
            this.activeLinkIndex = index
          }
          // console.log('active link index is ' + index + ' path is ' + this.$route.path + ' element is ' + (element))
          return found
        })
      }
    },
    mounted () {
      this.findActiveLink()
    },
    watch: {
      $route: function (newRoute, oldRoute) {
        this.findActiveLink()
      }
    }
  }
</script>
<style>

</style>
